Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

# Reusable YAML chunks
defaults:
  tag_filters: &tag_filters
    tags:
      only: /^@voiceflow/.*@[0-9]*(\.[0-9]*)*$/

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

fix: reusable chunks
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

fix: pin turborepo
  package.json
  yarn.lock
Due: build-all

fix: eslint
  packages/react-chat/.eslintignore
  packages/react-chat/.eslintoutputrc
  packages/react-chat/src/browser/index.tsx
  packages/widget/.eslintignore
  packages/widget/.eslintoutputrc
Due: build-apps

fix: everything
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: sonarcloud
  sonar-project.properties
Due: none

fix: remove sonarcloud
  .circleci/continue-config.yml
Due: none

fix: update ci/cd
  .github/workflows/docs.yml
  package.json
  packages/react-chat/package.json
  packages/widget/package.json
Due: build-apps, build-all

chore(release): publish
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

fix: test react-chat release
  packages/react-chat/src/browser/utils.ts
Due: build-apps

fix: update git origin to fix lerna
  .circleci/continue-config.yml
Due: none

fix: set new deploy ssh key
  .circleci/continue-config.yml
Due: none

fix: remove working dir from non-run steps
  .github/workflows/docs.yml
Due: none

fix: use rsa ssh key
  .circleci/continue-config.yml
Due: none

fix: remove working dir from non-run steps (IN-000) (#25)
  .github/workflows/docs.yml
Due: none

ci: dont restore the test cache
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@85c05cdc2ad06129c4982be20955b66d082e3825 🚀
  project.json
Due: none

fix: force new version
  packages/react-chat/package.json
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/AssistantInfo/index.tsx
  packages/react-chat/src/components/Avatar/index.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Footer/styled.ts
  packages/react-chat/src/components/Header/index.tsx
  packages/react-chat/src/components/Input/styled.ts
  packages/react-chat/src/components/SystemResponse/Indicator.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/styles/color.ts
  packages/react-chat/src/types/turn.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/examples/index.html
  packages/widget/src/components/Launcher/index.tsx
  packages/widget/src/components/Launcher/styled.ts
  packages/widget/src/components/index.ts
  packages/widget/src/index.tsx
  packages/widget/src/styled.ts
  yarn.lock
Due: build-apps, build-all

fix: remote configuration option support (CT-000) (#26)
  packages/react-chat/package.json
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/AssistantInfo/index.tsx
  packages/react-chat/src/components/Avatar/index.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Footer/styled.ts
  packages/react-chat/src/components/Header/index.tsx
  packages/react-chat/src/components/Input/styled.ts
  packages/react-chat/src/components/SystemResponse/Indicator.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/styles/color.ts
  packages/react-chat/src/types/turn.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/examples/index.html
  packages/widget/src/components/Launcher/index.tsx
  packages/widget/src/components/Launcher/styled.ts
  packages/widget/src/components/index.ts
  packages/widget/src/index.tsx
  packages/widget/src/styled.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@9f10d506a7003afbef5d52a69ee5626fdc079de6 🚀
  project.json
Due: none
